<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <style>
        body {
          margin: 0;
        }
      </style>      
      <link rel="stylesheet" href="../../navigation-style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="../../script.js"></script>
   </head>

   <body>
    <div class="topnav" id="myTopnav">
      <a href="../../index.html">Home</a>
      <a href="../../weather/index.html">Weather App</a>
      <a href="../../css_portfolio/index.html">CSS Portfolio</a>
      <a href="../../clock/index.html">Functional Clock</a>
      <a href="../../typing_speed_tester/index.html">Typing Speed Test</a>
      <a href="../../live_search/index.html">Live Search Page</a>
      <a href="../../HPlusSport/index.html">Sports Page</a>
      <a href="../../chat_app/index.html">Online Chat Application</a>
      <a href="../../shopper/server/views/index.pug">Shopping Website</a>
      <a href="../../boilerplate-mongomongoose/views/index.html">MongoDB and Mongoose</a>
      <a href="../../boilerplate-project-timestamp/views/index.html">Timestamp</a>
      <a href="index.html" class="active">Request Header Parser</a>
      <a href="../../boilerplate-project-urlshortener/views/index.html">URL Shortener</a>
      <a href="../../boilerplate-project-exercisetracker/views/index.html">Exercise Tracker</a>
      <a href="../../boilerplate-project-filemetadata/views/index.html">File Metadata</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
      <div class="container">
        <h2>Request Header Parser Microservice</h2>

        <h3>Example Usage:</h3>
        <p>
          <a href="api/whoami">[base url]/api/whoami</a>
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          by <a href="https://www.freecodecamp.org">freeCodeCamp</a>
        </p>
      </div>
   </body>


</html>
