<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>MongoDB & Mongoose | freeCodeCamp.org</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #ddd;
        color: #333;
        font-family: sans-serif;
        text-align: center;
        margin: 0;
      }
    </style>
      <link rel="stylesheet" href="../../navigation-style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="../../script.js"></script>
  </head>

  <body>
    <div class="topnav" id="myTopnav">
      <a href="../../index.html">Home</a>
      <a href="../../weather/index.html">Weather App</a>
      <a href="../../css_portfolio/index.html">CSS Portfolio</a>
      <a href="../../clock/index.html">Functional Clock</a>
      <a href="../../typing_speed_tester/index.html">Typing Speed Test</a>
      <a href="../../live_search/index.html">Live Search Page</a>
      <a href="../../HPlusSport/index.html">Sports Page</a>
      <a href="../../chat_app/index.html">Online Chat Application</a>
      <a href="../../shopper/server/views/index.pug">Shopping Website</a>
      <a href="index.html" class="active">MongoDB and Mongoose</a>
      <a href="../../boilerplate-project-timestamp/views/index.html">Timestamp</a>
      <a href="../../boilerplate-project-headerparser/views/index.html">Request Header Parser</a>
      <a href="../../boilerplate-project-urlshortener/views/index.html">URL Shortener</a>
      <a href="../../boilerplate-project-exercisetracker/views/index.html">Exercise Tracker</a>
      <a href="../../boilerplate-project-filemetadata/views/index.html">File Metadata</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <h1>MongoDB & Mongoose</h1>
  </body>
</html>
