<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <style>
        body {
          margin: 0;
        }
      </style>
      <link rel="stylesheet" href="../../navigation-style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="../../script.js"></script>
   </head>

   <body>
    <div class="topnav" id="myTopnav">
      <a href="../../index.html">Home</a>
      <a href="../../weather/index.html">Weather App</a>
      <a href="../../css_portfolio/index.html">CSS Portfolio</a>
      <a href="../../clock/index.html">Functional Clock</a>
      <a href="../../typing_speed_tester/index.html">Typing Speed Test</a>
      <a href="../../live_search/index.html">Live Search Page</a>
      <a href="../../HPlusSport/index.html">Sports Page</a>
      <a href="../https://agile-cliffs-96467.herokuapp.com/">Online Chat Application</a>
      <a href="../../shopper/server/views/index.pug">Shopping Website</a>
      <a href="../../boilerplate-mongomongoose/views/index.html">MongoDB and Mongoose</a>
      <a href="index.html" class="active">Timestamp</a>
      <a href="../../boilerplate-project-headerparser/views/index.html">Request Header Parser</a>
      <a href="../../boilerplate-project-urlshortener/views/index.html">URL Shortener</a>
      <a href="../../boilerplate-project-exercisetracker/views/index.html">Exercise Tracker</a>
      <a href="../../boilerplate-project-filemetadata/views/index.html">File Metadata</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
        <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
      </p>
    </div>
  </body>
</html>
